* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: auto;
}
.DBposts{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  background-color: #292727;
}
.post {
  width: 480px;
  font-family: sans-serif;
  width: 400px;
  margin: 20px 0;
  padding: 16px;
  border: 1px solid black;
  border-radius: 8px;
  transition: all 300ms linear;
}
.post:hover{
  border: 1px solid #555;
  box-shadow: 5px 5px 25px #555;
  scale: 1.1;
}
.postImg {
  display: block;
  width: 100%;
}
.post-rating-container{
    display: flex;
    justify-content: end;
    padding: 12px 0 ;

}
.post-rating{
    display: flex;
    align-items: center;
    color: #555;
}
.post-rating:not(:last-child){
    margin-right: 12px;
}
.post-rating-selected> .post-rating-btn , .post-rating-selected>.post-rating-count{
  color: rgba(4, 112, 4, 0.88);
  
}
.post-rating-selected> .post-rating-btnD , .post-rating-selected>.post-rating-countD{
  color: rgb(188, 12, 12);
  
}
.post-rating-btn{
    border: none;
    background-color: #292727;
    margin-right: 6px;
    cursor: pointer;
    color: #555;
}
.post-rating:not(.post-rating-selected)>.post-rating-btn:hover{
  color: #000000;
}

